<div class="form-edit">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<div class="container">
    <h1>Edit Profile</h1>
    <hr>
  <div class="row align-items-center">
      <!-- left column -->
      <div class="col-md-4">
        <div class="text-center">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIpGsX3nLD9_QICrhvqI-BweSdasdeiarv4p25GoNQulu81MJ_" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-8 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h3>Personal info</h3>
        
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <%= f.text_field :first_name, autofocus: true, autocomplete: "First name" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <%= f.text_field :last_name, autofocus: true, autocomplete: "Last_name" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <%= f.submit "Change " %>
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
            <% end %>
            <div id="tb-cancel" class="col-md-8 d-block float-sm-right text-sm-right">
              <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
              <%= link_to "Back", :back %>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
</div>
