  <div id="div-sign-in">

          <img id="logoNav" src="https://zupimages.net/up/19/22/qauj.png"><br>
<br>
      <p style="margin-left: 30%;">Please Sign-in</p>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
     <%= f.label :password %><br />
     <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div id="logo-1">
        <%= f.submit "Sign-in" %>
  </div>

  <div id="pw-forgot"><a href="#">Password forgotten ?</a></div>

  </div>
  </div>
  <% end %>
 