

<!--  intro parfums -->
<div class="container mb-5" id="intro-parfums">
  <div style="d-flex justify-content-center mb-6  style="max-width: 400px;">

    <h2 class="text-center mb-5" id="title-parfums">Parfums</h2>
    <p class="text-center mb-4">Amusons-nous des codes, imaginons des personnalités, fantasmons des univers.
      Mais parfumons nous de ce qui nous sublime.</p>

      <p class="text-center mb">Flacons aux courbes épurées, sentiment d'essentiel. Le prénom gravé embrasse la transparence du verre. Luxe aux notes olfactives mutines ; appréciation instinctive. Antonius dévoile des eaux de parfum éclatantes et singulières. Attraction vers l'évidence.</</p>

  </div>
</div>

<!-- Cards -->
<div class="container ">
	<div class="row d-flex justify-content-around ">
		 <% @items.each do |item| %>
		<div class="card mb-3" style="width: 21rem;">
		  <img src="<%= item.image_url %>" class="card-img-top" alt="...">
		  <div class="card-body ">
		    <h5 class="card-title"><%= link_to item.name, item_path(item) %></h5>
		    <p class="card-text"><%= item.description %>.</p>
		    <p class="card-price"><%= item.price %>$</p>
		     <% if user_signed_in? %>
		     	<% if current_user.cart_id != nil %>
			    <%= form_tag carts_path(@cart), method: "post" do%>


			    		<input type="hidden" id="id" name="id" size="1" value="<%= item.id %>" />
				    	<input type="hidden" id="user_id" name="user_id" size="1" value="<%= Cart.find(Cart.where(user_id: current_user.id).ids[0]).id %>" />
				    	<%= submit_tag "add to cart", class: "btn btn-primary btn-sm"  %>


				<% end %>
				<% end %>


			<% end %>
		  </div>
		</div>
		<% end %>
	</div>
	<div class="actions mx-auto mb-3" style="max-width: 500px;">

	</div>
</div>
<!-- Add Item Link -->
  <div style="height: 100px;  mb-3">
    <div class="mx-auto d-flex justify-content-around" style="width: 200px;"">

    </div>
  </div>
