<div class="form-groupe mx-auto mb-3" style="max-width: 600px;">
  <h3>Create New Item </h3>


  <%= form_for @item do |f| %>
    <div class="form-group">
      <label for="formGroupExampleInput">Name</label>
       <p><%= f.text_field :name %></p>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Description</label>
      <p><%= f.text_field :description %></p>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Price</label>
      <p><%= f.text_field :price %></p>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Image_url</label>
      <p><%= f.text_field :image_url %></p>
    </div>

    <div class="submit"><%= f.submit "Create" %></div>


    <% end %>

</div>
