<nav class="navbar fixed-top navbar-expand-lg navbar-light" id="navColorBg">		
  <div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">   
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="<%= pages_landing_page_path %>">
      <img id="logoNav" src="https://zupimages.net/up/19/22/qauj.png" width="200">
    </a>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-2 justify-content-right"> 
      <li class="nav-item active">
        <a class="nav-link" href="<%= pages_static_lp_path %>">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= items_path %>">Products</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="<%= carts_path %>"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Panier
        </a>
      </li>
      <li class="nav-item active">
        <div class="btn-group dropleft">
          <a class="btn dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account 
          </a>
          <div class="dropdown-menu">
          <a class="dropdown-item" href="<%= user_path(current_user.id) %>"> 
            Profil 
          </a>
          <%= link_to "Se deconnecter", destroy_user_session_path , method: 'delete', class: "dropdown-item" %> 
        </div>
      </li>
    </ul>
  </div>
</nav>